/*Utilizando la propiedad Box-sizing para indicas un solo tamaño de ancho y largo
de todos los elementos Div*/
*{
  box-sizing: border-box;
  margin-bottom: 10px;
  height: 200px;
  width: 500px;
  padding:2px;
}
/*Utilizando la propiedad Display para convertir los elementos Div inline a elementos block*/
.yellow {
  background-color:orange;
  display: inline-block;
}
.black{
  background-color: black;
  color: white;
  display: inline-block;
}
.yellow1{
  background-color: orange;
  font-family: inherit;
  display: inline-block;
}
